* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1518895949257-7621c3c786d7?auto=format&fit=crop&w=1920&q=80');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Volte', 'Nunito Sans', sans-serif;
    margin: 0;
}
.box {
    width: 100%;
    max-width: 400px;
    border: 3px solid rgb(5, 41, 85);
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1490750967868-88aa4486c946?auto=format&fit=crop&w=1920&q=80");
    border-radius: 20px;
    box-shadow: 
    0 10px 20px rgba(0, 0, 0, 0.12),
    0 4px 8px rgba(241, 123, 99, 0.25),
    0 0 20px rgba(120, 241, 99, 0.35);
    color: white;
}
img {
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
}
h2 {
    font-size: 35px;
    color: rgb(186, 226, 52);
}
.logo {
    font-size: 25px;
    font-style: italic;
}
.large {
    font-size: 20px;
    padding: 10px;
}
button {
    font-size: 30px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
