* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    background-color: rgb(172, 219, 219);
    min-height: 100vh;
}
.design {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
h3 {
    font-size: 30px;
}
.red-text {
    color: rgb(245, 110, 110);
}
.nav-links {
   display: flex;
   gap: 50px;
}
li {
    list-style: none;
}
a {
   text-decoration: none;
   color: #000;
   font-size: 20px;
}
a:hover {
    color: rgb(215, 215, 222);
    padding: 11px;
    border: 2px solid rgb(232, 227, 227);
    background-color: rgb(19, 21, 19);
    border-radius: 15px;
    font-size: 20px;
    transition: color 0.3s ease;
} 
.button-group {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    text-align: center;
}
.submit, .my-btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(65, 173, 65);
    cursor: pointer;
    box-shadow: 2px 2px 3px rgb(10, 10, 9)
}
.my-btn {
    background-color: rgb(52, 233, 52);
}
h2 {
    font-size: 50px;
    display: block;
    margin-top: 250px;
    width: 500px;
    padding-left: 200px;
}
.small-text {
   padding-left: 200px;
   width: 500px; 
   font-size: 20px;
   font-weight: 500;
   display: block;
    margin-top: 20px;
}
.btn {
    
    display: block;
    margin-top: 40px;
    background-color: rgb(12, 234, 12);
    height: 70px;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid rgb(99, 219, 113);
    transform: translateX(120px);
    text-align: center;
    width: 200px;
}

